<form class="{{cssClass}} flexcol" autocomplete="off">
  
  
  {{!-- Main Grid --}}
  <div class="cpr-grid cprgraphics">
    
    
    {{!-- Header --}}
    <div class="cpr-header cprgraphics">
      <div class="grid grid-2col">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <input name="role" type="text" value="{{data.description.role}}" placeholder="Role"/>
      </div>
    </div>
    
    
    {{!-- Navigation Sidebar --}}
    <div class="cpr-nav sheet-tabs cprgraphics">
      <div class="cpr-nav-item"><a class="item" data-tab="biography">{{localize "CPRED.bio"}}</a></div>
      <div class="cpr-nav-item"><a class="item" data-tab="appearance">{{localize "CPRED.appearance"}}</a></div>
      <div class="cpr-nav-item"><a class="item" data-tab="attrnskills">{{localize "CPRED.attrnskills"}}</a></div>
      <div class="cpr-nav-item"><a class="item" data-tab="combatsetup">{{localize "CPRED.combatsetup"}}</a></div>
      <div class="cpr-nav-item"><a class="item" data-tab="combat">{{localize "CPRED.combat"}}</a></div>
      {{#if data.settings.showtabs.hacking}}
      <div class="cpr-nav-item"><a class="item" data-tab="hacking">{{localize "CPRED.hacking"}}</a></div>
      {{/if}}
      {{#if data.showInventory}}
      <div class="cpr-nav-item"><a class="item" data-tab="cyberware">{{localize "CPRED.cyberware"}}</a></div>
      <div class="cpr-nav-item"><a class="item" data-tab="weapons">{{localize "CPRED.weapons"}}</a></div>
      <div class="cpr-nav-item"><a class="item" data-tab="gear">{{localize "CPRED.gear"}}</a></div>
      {{/if}}
      <div class="cpr-nav-item"><a class="item" data-tab="settings">{{localize "CPRED.settings"}}</a></div>
    </div>
    
    
    {{!-- Start Content --}}
    <div class="cpr-content cprgraphics">
      
      
      {{!-- Biography Tab --}}
      <div class="tab roomtoedit cprgraphics" data-group="primary" data-tab="biography">
        {{editor content=data.description.biography target="data.description.biography" button=true owner=owner editable=editable}}
      </div>
      
      
      {{!-- Appearance Tab --}}
      <div class="tab roomtoedit cprgraphics" data-group="primary" data-tab="appearance">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/> 
        {{editor content=data.description.appearance target="data.description.appearance" button=true owner=owner editable=editable}} 
      </div>
      
      
      {{!-- Attributes and Skills Tab --}}
      <div class="tab cprgraphics" data-group="primary" data-tab="attrnskills">
        <ol class="grid grid-4col">
          <label>{{localize "CPRED.attribute"}}</label>
          <label>{{localize "CPRED.base"}}</label>
          <label>{{localize "CPRED.mod"}}</label>
          <label>{{localize "CPRED.totalroll"}}</label>
          {{#each data.attributes as |attr key|}}
          <label for="data.attributes.{{key}}.value">{{localize (concat "CPRED." key)}}</label>
          <input type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
          <input type="text" name="data.attributes.{{key}}.mod" value="{{attr.mod}}" data-dtype="Number"/>
          <input type="text" name="data.attributes.{{key}}.roll" value="{{attr.roll}}" data-dtype="Number" readonly/>
          {{/each}}
          {{#each data.skills as |skill key|}}
          <label for="data.skills.{{key}}.value" data-label="{{localize (concat 'CPRED.' key)}}" data-roll="{{buildRollString ../data key}}" class="rollable">{{localize (concat "CPRED." key)}} ({{localize (concat "CPRED." skill.linkedattribute)}})</label>
          <input class="skill-value" type="text" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
          <input type="text" name="data.skills.{{key}}.mod" value="{{skill.mod}}" data-dtype="Number"/>
          <input type="text" name="data.skills.{{key}}.roll" value="{{skill.roll}}" data-dtype="Number" readonly/>
          {{/each}}
        </ol>
      </div>
      
      
      
      {{!-- Combat Setup Tab --}}
      <div class="tab cprgraphics" data-group="primary" data-tab="combatsetup">
        <ol class="combatsetup-head">
          <li class="flexrow">
            <div>{{localize "CPRED.name"}}</div>
            <div>{{localize "CPRED.damage"}}</div>
            <div>{{localize "CPRED.skill"}}</div>
          </li>
          {{#each data.weaponsetup as |item key|}}
          <li class="flexrow" data-item-id="{{item.id}}">
            <div><input type="text" name="data.weaponsetup.{{key}}.name" value="{{item.name}}"></div>
            <div><input type="text" name="data.weaponsetup.{{key}}.damage" value="{{item.damage}}"></div>
            <div>
              <select name="data.weaponsetup.{{key}}.skill">
              {{#select item.skill}}
              <option value="hidden">{{localize "CPRED.hidden"}}</option>
              <option value="marksmanship">{{localize "CPRED.marksmanship"}}</option>
              <option value="meleeweapon">{{localize "CPRED.meleeweapon"}}</option>
              {{/select}}
              </select>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
      
      
      {{!-- Combat Tab --}}
      <div class="tab cprgraphics" data-group="primary" data-tab="combat">  
        {{!-- Bullet List Indicators for Current HP and Luck --}}
        <br>
          <div class="cprgraphics" style="display: inline-block; width: 48%;vertical-align: top;">
          <h3>{{localize "CPRED.healthpool"}} ({{data.combatstats.healthpool.value}} / {{data.combatstats.healthpool.max}})</h3>
            {{{buildDamageTrack data.combatstats.healthpool.value data.combatstats.healthpool.max}}}<br>
            <ol class="grid grid-3col">
            <i class="grid alterhealth clickable" data-change="-10">-10</i>
            <i class="grid alterhealth clickable" data-change="-5">-5</i>
            <i class="grid alterhealth clickable" data-change="-1">-1</i>
            <i class="grid alterhealth clickable" data-change="+10">+10</i>
            <i class="grid alterhealth clickable" data-change="+5">+5</i>
            <i class="grid alterhealth clickable" data-change="+1">+1</i>
            <i class="grid alterhealth clickable" data-change="-9999">{{localize "CPRED.zero"}}</i>
            <i class="grid"></i>
            <i class="grid alterhealth clickable" data-change="+9999">{{localize "CPRED.full"}}</i>
            </ol>
          </div>
          <div class="cprgraphics" style="display: inline-block; width: 48%;vertical-align: top;">
            <h3>{{localize "CPRED.luckpool"}} ({{data.combatstats.luckpool.value}} / {{data.combatstats.luckpool.max}})</h3>
              {{{buildLuckTrack data.combatstats.luckpool.value data.combatstats.luckpool.max}}}<br>
              <ol class="grid grid-2col">
              <i class="grid alterluck clickable" data-change="-1">{{localize "CPRED.spend"}}</i>
              <i class="grid alterluck clickable" data-change="+1">{{localize "CPRED.earn"}}</i>
              <i class="grid alterluck clickable" data-change="-9999">{{localize "CPRED.zero"}}</i>
              <i class="grid alterluck clickable" data-change="+9999">{{localize "CPRED.full"}}</i>
              </ol>
          </div>

        {{#if data.simpleCombatSetup}}
        <div class="cprgraphics">
        <h3>{{localize "CPRED.simplecombatsection"}}</h3>
          {{#each data.weaponsetup as |item key|}}
          {{#if_not_eq item.skill "hidden"}}
          <li class="flexrow" data-item-id="{{item.id}}">
            <label class="cpr-weaponinlinebox">{{item.name}}</label>
            <div class="rollable cpr-weaponinlinebox" data-label="{{item.name}}" data-roll="{{buildRollString ../data  item.skill}}">{{localize "CPRED.attack"}}</div>
            <div class="rollable cpr-weaponinlinebox" data-label="{{item.name}}" data-roll="{{item.damage}}">{{localize "CPRED.damage"}}</div>
          </li>
          {{/if_not_eq}}
          {{/each}}
        </div>
        {{/if}}
          
          
        <div class="cprgraphics">
        <h3>{{localize "CPRED.specialrolls"}}</h3>
          <ol class="specialroll-grid">
            <ol class="specialroll-item">
              <label for="Death Save" data-label='{{localize "CPRED.deathsaverolllabela"}} {{data.attributes.body.roll}}{{localize "CPRED.deathsaverolllabelb"}}' data-roll="{{data.dieRollCommand}} + {{data.combatstats.deathsave.penalty}}" class="rollable deathsave">{{localize "CPRED.deathsave"}} (+{{data.combatstats.deathsave.penalty}})</label><br>
              <li class="flexrow" data-item-id="{{item.id}}">
              <i class="alterdeathsave clickable" data-change="-1">-1</i>
              <i class="alterdeathsave clickable" data-change="1">+1</i>
              </li>
            </ol>
            <ol class="specialroll-item">Facedown</ol>
            <ol class="specialroll-item">Suppressive Fire</ol>
            <ol class="specialroll-item">Reputation Check</ol>
            <ol class="specialroll-item">Initiative</ol>
          </ol>
        </div> 
        
        
        
        <div class="cprgraphics">
        <h3>{{localize "CPRED.skills"}}</h3>
        <ol class="skilllist-grid cpr-center">
          {{#each data.skills as |skill key|}}
          <label for="data.skills.{{key}}.value" data-label="{{localize (concat 'CPRED.' key)}}" data-roll="{{buildRollString ../data key}}" class="skilllist-item rollable">{{localize (concat "CPRED." key)}}</label>
          {{/each}}
        </ol>
        </div>        

        <div class="cprgraphics">
        <h3>{{localize "CPRED.modsectiontitle"}}</h3>
          <ol class="modlist-grid cpr-center">
            {{#each data.modifiers as |mod key|}}
            {{#if_exists mod "checked"}} {{!-- Only show the following if it contains checked--}}
            <input class="modlist" type="checkbox" id="mods_{{key}}" name="data.modifiers.{{key}}.checked" {{checked mod.checked}}>
            <label class="cpr-center modlist-item modlist clickable" for="mods_{{key}}">{{localize (concat "CPRED." key)}} ({{mod.penalty}})</label>
            {{/if_exists}}
            {{/each}}  
          </ol>
         
        <ol class="grid grid-2col">
          <li class="modlist-item">
          {{localize "CPRED.modmanualmod"}}&nbsp;&nbsp;&nbsp;<input class="cpr-manualmodentry cpr-nowrap" type="number" name="data.modifiers.modmanualmod.penalty" value="{{data.modifiers.modmanualmod.penalty}}" data-dtype="Number">
          </li>
          <li class="cpr-totalmoddisplay cpr-nowrap">
          {{localize "CPRED.modfinalmod"}} {{data.modifiers.modfinalmod.totalpenalty}}
          </li>      
        </ol>
        <label class="modlist resetallmods">{{localize "CPRED.modclicktoreset"}}</label>
        </div>
        

 
      </div>

      {{#if data.settings.showtabs.hacking}}
      {{!-- Hacking Tab --}}
      <div class="tab cprgraphics" data-group="primary" data-tab="hacking">
        {{localize "CPRED.underconstruction"}}<br>
        
        <pre>
        Base Roll: Roll 1d10 + Interface
        Initiative:
        
      Rolls vs DV from GM
        Scanner
        Backdoor
        Pathfinder
        Eye-Dee
        Control
        
      Rolls vs Enemy Roll
        Slide vs Black ICE 1d10 + Perception
        Zap vs Netrunner 1d10 + Interface or Program 1d10 + Defense Value does 1d6 damage
  
      Rolls which result in a DV for use later
        Virus - GM will record result as power of virus
        Cloak - Becomes DV of pathfinder to find you
        
      Programs
        Speedy Gonzalez - Increases SPD by +4
        Banhammer - +2 ATT - 3d6 vs hellhounds, 2d6 vs other programs
        Flack - Stops the first successful non-helhound attack from doing damage
        </pre>
        
      </div>
      {{/if}}

      {{#if data.showInventory}}
      {{!-- Owned Cyberware Tab --}}
      <div class="tab cprgraphics" data-group="primary" data-tab="cyberware">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">Name</div>
            <div class="item-controls"> <a class="item-control item-create" title="Create item" data-type="cyberware"><i class="fas fa-plus"></i> Add item</a> </div>
          </li>
          {{#each actor.cyberware as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls"> <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a> </div>
          </li>
          {{/each}}
        </ol>
      </div>
      
      
      {{!-- Owned Weapons Tab --}}
      <div class="tab cprgraphics" data-group="primary" data-tab="weapons">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">Name</div>
            <div class="item-controls"> <a class="item-control item-create" title="Create item" data-type="weapons"><i class="fas fa-plus"></i> Add item</a> </div>
          </li>
          {{#each actor.weapons as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls"> <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a> </div>
          </li>
          {{/each}}
        </ol>
      </div>
      
      
      {{!-- Owned Gear Tab --}}
      <div class="tab cprgraphics" data-group="primary" data-tab="gear">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">Name</div>
            <div class="item-controls"> <a class="item-control item-create" title="Create item" data-type="gear"><i class="fas fa-plus"></i> Add item</a> </div>
          </li>
          {{#each actor.gear as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls"> <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a> </div>
          </li>
          {{/each}}
        </ol>
      </div>

      
      {{/if}}
      
      
      {{!-- SETTINGS TAB --}}
      {{!-- TODO Localize this tab --}}
      <div class="tab cprgraphics" data-group="primary" data-tab="settings">
        {{localize "CPRED.notlocalized"}} <br>
        <br>
        The following settings have been set by the GM and are in effect for this game:<br>
        <br>
        The base die roll is: {{data.dieRollCommand}}<br>
        {{#if data.GMAlwaysWhisper}}
        GM rolls for NPCs are HIDDEN from players<br>
        {{else}}
        GM rolls for NPCs are VISIBLE to players<br>
        {{/if}}
        {{#if data.showInventory}}
        Inventory management is ENABLED<br>
        {{else}}
        Inventory management is DISABLED<br>
        {{/if}}
        {{#if data.simpleCombatSetup}}
        Simple combat setup is ENABLED<br>
        {{else}}
        Simple combat setup is DISABLED<br>
        {{/if}}
        {{#if data.itemCombatSetup}}
        Item-based combat setup is ENABLED<br>
        {{else}}
        Item-based combat setup is DISABLED<br>
        {{/if}}
        <br><br>
        You may set the following settings:<br><br>
        Show the following tabs:<br>
        <ol class="grid grid-1col">
          {{#each data.settings.showtabs as |attr key|}}
            <input type="checkbox" id="set_{{key}}" name="data.settings.showtabs.{{key}}" {{checked attr}}>
            <label for="set_{{key}}">{{key}}</label>
          {{/each}}  
        </ol>

      </div>
      
      
    </div> {{!-- Here ends main content --}}
  </div> {{!-- Here ends grid definition --}}
</form> {{!-- Here ends the main form --}}
