<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="cpr-grid cprgraphics">

	  
	{{!--Top Header --}}	    
	<div class="cpr-header cprgraphics">
      <div class="grid grid-2col">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <input name="role" type="text" value="{{data.description.role}}" placeholder="Role"/>
      </div>
    </div>
	  
	  
	{{!-- Navigation Sidebar --}}	  
    <div class="cpr-nav sheet-tabs cprgraphics">
      <div class="cpr-nav-item"><a class="item" data-tab="biography">{{localize "SHEET.bio"}}</a></div><br>
	  <div class="cpr-nav-item"><a class="item" data-tab="appearance">{{localize "SHEET.appearance"}}</a></div><br>
	  <div class="cpr-nav-item"><a class="item" data-tab="attrnskills">{{localize "SHEET.attrnskills"}}</a></div><br>
	  <div class="cpr-nav-item"><a class="item" data-tab="combatsetup">{{localize "SHEET.combatsetup"}}</a></div><br>
	  <div class="cpr-nav-item"><a class="item" data-tab="combat">{{localize "SHEET.combat"}}</a></div><br>
  	  <div class="cpr-nav-item"><a class="item" data-tab="cyberware">{{localize "SHEET.cyberware"}}</a></div><br>
	  <div class="cpr-nav-item"><a class="item" data-tab="weapons">{{localize "SHEET.weapons"}}</a></div><br>
	  <div class="cpr-nav-item"><a class="item" data-tab="gear">{{localize "SHEET.gear"}}</a></div>
    </div>
    <div class="cpr-content cprgraphics">

		
	  {{!-- Biography Tab --}}
      <div class="tab biography cprgraphics" data-group="primary" data-tab="biography">
		  {{editor content=data.description.biography target="data.description.biography" button=true owner=owner editable=editable}}
	  </div>
		
		
	  {{!-- Appearance Tab --}}
      <div class="tab appearance cprgraphics" data-group="primary" data-tab="appearance"> <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		  {{editor content=data.description.appearance target="data.description.appearance" button=true owner=owner editable=editable}}
	  </div>
		
		
	  {{!-- Attributes and Skills Tab --}}
      <div class="tab attrnskills cprgraphics" data-group="primary" data-tab="attrnskills">
        <div class="combatstats grid grid-2col">
          <div class="resource flex-group-center">
            <label for="data.combatstats.healthpool.value" class="resource-label">{{localize (concat "SHEET.healthpool")}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="data.combatstats.healthpool.value" value="{{data.combatstats.healthpool.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="data.combatstats.healthpool.max" value="{{data.combatstats.healthpool.max}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="data.combatstats.luckpool.value" class="resource-label">{{localize "SHEET.luckpool"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="data.combatstats.luckpool.value" value="{{data.combatstats.luckpool.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="data.combatstats.luckpool.max" value="{{data.combatstats.luckpool.max}}" data-dtype="Number"/>
            </div>
          </div>
        </div>
        <ol class="grid grid-4col">
            <label>{{localize "SHEET.attribute"}}</label>
            <label>{{localize "SHEET.base"}}</label>
            <label>{{localize "SHEET.mod"}}</label>
            <label>{{localize "SHEET.totalroll"}}</label>          
          {{#each data.attributes as |attr key|}}
            <label for="data.attributes.{{key}}.value">{{localize (concat "SHEET." key)}}</label>
            <input type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
            <input type="text" name="data.attributes.{{key}}.mod" value="{{attr.mod}}" data-dtype="Number"/>
            <input type="text" name="data.attributes.{{key}}.roll" value="{{attr.roll}}" data-dtype="Number" readonly/>
          {{/each}}
          {{#each data.skills as |skill key|}}
            <label for="data.skills.{{key}}.value" data-label="{{localize (concat "SHEET." key)}}" data-roll="@dieRollCommand+@attributes.{{skill.linkedattribute}}.roll+{{skill.roll}}" class="rollable">{{localize (concat "SHEET." key)}} ({{localize (concat "SHEET." skill.linkedattribute)}})</label>
            <input class="skill-value" type="text" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
            <input type="text" name="data.skills.{{key}}.mod" value="{{skill.mod}}" data-dtype="Number"/>
            <input type="text" name="data.skills.{{key}}.roll" value="{{skill.roll}}" data-dtype="Number" readonly/>
          {{/each}}
        </ol>
      </div>
		
		
      {{!-- Owned Cyberware Tab --}}
      <div class="tab cyberware cprgraphics" data-group="primary" data-tab="cyberware">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">Name</div>
            <div class="item-controls"> <a class="item-control item-create" title="Create item" data-type="cyberware"><i class="fas fa-plus"></i> Add item</a> </div>
          </li>
          {{#each actor.cyberware as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls"> <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a> </div>
          </li>
          {{/each}}
        </ol>
      </div>
		
		
      {{!-- Owned Weapons Tab --}}
      <div class="tab weapons cprgraphics" data-group="primary" data-tab="weapons">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">Name</div>
            <div class="item-controls"> <a class="item-control item-create" title="Create item" data-type="weapons"><i class="fas fa-plus"></i> Add item</a> </div>
          </li>
          {{#each actor.weapons as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls"> <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a> </div>
          </li>
          {{/each}}
        </ol>
      </div>
		
		
      {{!-- Owned Gear Tab --}}
      <div class="tab gear cprgraphics" data-group="primary" data-tab="gear">
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">Name</div>
            <div class="item-controls"> <a class="item-control item-create" title="Create item" data-type="gear"><i class="fas fa-plus"></i> Add item</a> </div>
          </li>
          {{#each actor.gear as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls"> <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a> </div>
          </li>
          {{/each}}
        </ol>
      </div>
		
		
 	  {{!-- Combat Setup Tab --}}
      <div class="tab combatsetup cprgraphics" data-group="primary" data-tab="combatsetup">
        This tab will hold the simple method of defining character combat stats.
      <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-name">Name</div>
            <div class="item-name">Damage</div>
            <div class="item-name">Skill</div>
          </li>
          {{#each data.weaponsetup as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name">{{item.name}}</div>
            <div class="item-name">{{item.damage}}</div>            
            <div class="item-name">{{item.skill}}</div>
          </li>
          {{/each}}
        </ol>
	  </div>

		
	  {{!-- Combat Tab --}}
      <div class="tab combat cprgraphics" data-group="primary" data-tab="combat">
		  This tab will hold specialized buttons for combat.

        {{#if simpleCombatSetup}}
        SIMPLE COMBAT SETUP IS ENABLED
        {{/if}}
        {{#if itemCombatSetup}}
        ITEM BASED COMBAT SETUP IS ENABLED
        {{/if}}

	  </div>


    </div>
  </div>
</form>
