<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="cpr-grid">

	  
	{{!--Top Header --}}	    
	<div class="cpr-header">
      <div class="grid grid-2col">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <input name="role" type="text" value="{{data.description.role}}" placeholder="Role"/>
      </div>
    </div>
	  
	  
	{{!-- Navigation Sidebar --}}	  
    <div class="cpr-nav sheet-tabs">
      <div class="cpr-nav-item"><a class="item" data-tab="biography">{{localize (concat "SHEET.bio")}}</a></div><br>
	  <div class="cpr-nav-item"><a class="item" data-tab="appearance">{{localize (concat "SHEET.appearance")}}</a></div><br>
	  <div class="cpr-nav-item"><a class="item" data-tab="rollsetup">{{localize (concat "NPC.rollsetup")}}</a></div><br>
	  <div class="cpr-nav-item"><a class="item" data-tab="rollbuttons">{{localize (concat "NPC.rollbuttons")}}</a></div>
	</div>
		  
		  
    <div class="cpr-content">

		
	  {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="biography">
		  {{editor content=data.description.biography target="data.description.biography" button=true owner=owner editable=editable}}
	  </div>
		
		
	  {{!-- Appearance Tab --}}
      <div class="tab appearance" data-group="primary" data-tab="appearance"> <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		  {{editor content=data.description.appearance target="data.description.appearance" button=true owner=owner editable=editable}}
	  </div>
		
		
	  {{!-- Rolls Setup Tab --}}
      <div class="tab rolls" data-group="primary" data-tab="rollsetup">
        <div class="resources grid grid-2col">
          <div class="resource flex-group-center">
            <label for="data.resources.healthpool.value" class="resource-label">{{localize (concat "SHEET.healthpool")}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="data.resources.healthpool.value" value="{{data.resources.healthpool.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="data.resources.healthpool.max" value="{{data.resources.healthpool.max}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="data.resources.luckpool.value" class="resource-label">{{localize (concat "SHEET.luckpool")}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="data.resources.luckpool.value" value="{{data.resources.luckpool.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="data.resources.luckpool.max" value="{{data.resources.luckpool.max}}" data-dtype="Number"/>
            </div>
          </div>
        </div>
		<div>
			<div class="npc-buttonlabel">Label</div>
			<div class="npc-value">Value</div>
			<div class="npc-description">Roll Description</div>
		</div>
        <div>
          {{#each data.npc as |attr key|}}
          <div data-attribute="{{key}}">
            <input class="npc-buttonlabel" type="text" name="data.npc.{{key}}.buttonlabel" value="{{attr.buttonlabel}}">
            <input class="npc-value" type="text" name="data.npc.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
			<input class="npc-description" type="text" name="data.npc.{{key}}.description" value="{{attr.description}}"/><br>
          </div>
          {{/each}}
        </div>
      </div>
		
	  {{!-- Rolls Buttons Tab --}}
      <div class="tab rolls" data-group="primary" data-tab="rollbuttons">
		{{#each data.npc as |attr key|}}
			  <div data-roll="{{setting_die}}+{{attr.value}}" class="rollable npc-button">{{attr.buttonlabel}}</div>
		{{/each}}
	  </div>
		
	
    </div>
  </div>
</form>
