<section style="background-color: #FFFFFF;" class="dw-chat-card">
  <div class="cell cell--chat">
    <h2 class="cell__title">{{title}}</h2>
    {{#if flavor}}<div class="row"><em>{{flavor}}</em></div>{{/if}}
    {{#if trigger}}<div class="row"><strong>Trigger:</strong> {{trigger}}</div>{{/if}}
    {{#if details}}<div class="row">{{{details}}}</div>{{/if}}
    {{#if rollcpr}}<div class="roll">{{{rollcpr}}}</div>{{/if}}
    {{#if tags}}
    <hr>
      {{{cprTags tags}}}
    {{/if}}
    </div>
</section>
