<section style="background-color: #FFFFFF;" class="dw-chat-card">
  <div class="cell cell--chat">
    <div class="cpr-roll-title">{{title}}</div>
    {{#if flavor}}<div class="cpr-roll-flavor"><em>{{flavor}}</em></div>{{/if}}
    {{#if details}}<div class="cpr-roll-details">{{{details}}}</div>{{/if}}
    {{#if rollcpr}}<div class="cpr-roll-roll">{{{rollcpr}}}</div>{{/if}}
    {{#if tags}}
    <label for="puppy" class="cpr-roll-showtags">Details<input id="{{uid}}" class="cpr-roll-showtagscheck" type="checkbox"></label>
    <div class="cpr-roll-tags"><hr>{{{cprTags tags}}}</div>
    {{/if}}
    </div>
</section>
