<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header"> <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </h1>
		<div class="resources" data-group="primary" data-tab="attributes">
      <ol class="resources-list">
        {{#each data.resources as |attr key|}}
        <li class="resources-box resources" data-attribute="{{key}}">
          <label for="data.resources.{{key}}.value">{{key}}</label>
          <input type="text" name="data.resources.{{key}}.value" value="{{attr.value}}" data-dtype="{{attr.dtype}}"/>	/ <input type="text" name="data.resources.{{key}}.max" value="{{attr.max}}" data-dtype="{{attr.dtype}}" readonly/>
        </li>
        {{/each}}
      </ol>
    </div>
    </div>
    
  </header>
  {{!-- Sheet Resources --}}

  
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
	  <a class="item" data-tab="attributes">Stats &amp; Skills</a>
	  <a class="item" data-tab="items">Items</a>
	  <a class="item" data-tab="description">Description</a>
  </nav>
  
	
	{{!-- Sheet Body --}}
  <section class="sheet-body">
	     
	  {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <ol class="attributes-list">
        {{#each data.attributes as |attr key|}}
        <li class="attribute-box attribute" data-attribute="{{key}}">
          <label for="data.attributes.{{key}}.value" class="attribute-label">{{key}}</label>
          <input type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="{{attr.dtype}}"/>
        </li>
        {{/each}}
      </ol>
		
      <ol class="skills-list">
        {{#each data.skills as |skill key|}}
        <li class="skill-box" data-attribute="{{key}}">
		  <label for="data.skills.{{key}}.value" data-roll="d10+@attributes.{{skill.linkedattribute}}.value+{{skill.value}}" class="skill-label rollable">{{key}}</label>
		  <label for="data.skills.\{{key\}}.value" data-roll="d10+@attributes.{{skill.linkedattribute}}.value+{{skill.value}}" class="skill-label-attrib rollable">({{skill.linkedattribute}})</label>
          <input class="skill-value" type="text" name="data.skills.{{key}}.value" value="{{skill.value}}"/>
        </li>
        {{/each}}
      </ol>
    </div>
	  
	  
	  {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      <ol class="items-list">
        {{#each items as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}"> <img src="{{item.img}}" title="{{item.general.name}}" width="24" height="24"/>
          <h4 class="item-name">{{item.general.name}}</h4>
          <div class="item-controls"> <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a> </div>
        </li>
        {{/each}}
      </ol>
    </div>
	
	  
	  	  
	  {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
		{{editor content=description.biography target="description.biography" button=true owner=owner editable=editable}}
	</div>

	  
	  
	  
  </section>
</form>
