<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header"> <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </h1>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="mods">Mods</a>
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body"> {{!-- Description Tab --}}
    <div class="tab roomtoedit" data-group="primary" data-tab="description"> {{editor content=data.description target="data.description" button=true owner=owner editable=editable}} </div>
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <ol class="grid grid-1col">
        {{#each data as |item key|}}
        {{#if_not_eq key "modlist"}}
        {{#if_not_eq key "temp"}}
        <li class="flexrow nowrap" data-attribute="{{key}}">
          <label for="data.{{key}}.value">{{localize (concat "CPRED." key)}}</label>
          <input class="item-value" type="text" name="data.{{key}}.value" value="{{item.value}}"/>
        </li>
        {{/if_not_eq}}
        {{/if_not_eq}}
        {{/each}}
      </ol>
    </div>
    {{!-- Mods Tab --}}

    <div class="tab mods" data-group="primary" data-tab="mods">
      <ol class="grid grid-1col">
        {{#each data.modlist as |eachitem eachkey|}}
          <li class="flexrow nowrap" data-attribute="{{key}}">
          <select name="data.modlist.{{eachkey}}.modcat">
          {{#select eachitem.modcat}}
            <option value="none">{{localize "CPRED.hidden"}}</option>
            <option value="attributes">{{localize "CPRED.attribute"}}</option>
            <option value="skills">{{localize "CPRED.skill"}}</option>
          {{/select}}
          </select>
          <select name="data.modlist.{{eachkey}}.moditem">
          {{#select eachitem.moditem}}
            {{#each (lookup ../data.temp eachitem.modcat) as |innerItem innerKey|}}
               <option value="{{innerKey}}">{{innerKey}}</option>
            {{/each}}
          {{/select}}
          </select>
          <input type="text" name="data.modlist.{{eachkey}}.modvalue" value="{{eachitem.modvalue}}"/>
          <input type="text" name="data.modlist.{{eachkey}}.modactive" value="{{eachitem.modactive}}" readonly/>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>
