<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header"> <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </h1>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="mods">Mods</a>
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Description Tab --}}
    <div class="tab roomtoedit" data-group="primary" data-tab="description"> {{editor content=data.description target="data.description" button=true owner=owner editable=editable}} </div>

    
    {{!-- Attributes Tab --}}

    <div class="tab attributes" data-group="primary" data-tab="attributes">
    {{localize "CPRED.underconstruction"}}<br>
      <div class="grid grid-6col">
        {{localize "CPRED.price"}}<input type="number" name="data.price.value" value="{{data.price.value}}">
        {{localize "CPRED.rarity"}}<input type="number" name="data.rarity.value" value="{{data.rarity.value}}">
        {{localize "CPRED.legality"}}<input type="number" name="data.legality.value" value="{{data.legality.value}}">
      </div>
      <hr>
      <div class="grid grid-4col">
        
        {{!-- Cyberware Section --}}
        
        {{#if_eq data.temp.type "cyberware"}}
        {{localize "CPRED.internal"}}<input type="checkbox" name="data.internal.value" value="{{data.internal.value}}" {{checked data.internal.value}}>
        {{localize "CPRED.hackable"}}<input type="checkbox" name="data.hackable.value" value="{{data.internal.value}}" {{checked data.hackable.value}}>
        {{localize "CPRED.psychosis"}}<input type="number" name="data.psychosis.value" value="{{data.psychosis.value}}">
        {{/if_eq}}

        {{!-- Weapons Section --}}
        
        {{#if_eq data.temp.type "weapons"}}
        {{localize "CPRED.damage"}}<input type="text" name="data.damage.value" value="{{data.damage.value}}">
        {{localize "CPRED.rof"}}<input type="number" name="data.rof.value" value="{{data.rof.value}}">
        {{localize "CPRED.ammomax"}}<input type="number" name="data.ammo.max" value="{{data.ammo.max}}">
        {{localize "CPRED.weapontype"}}
        <select name="data.weapontype.value">
        {{#select data.weapontype.value}}
          <option value="pistol">{{localize "CPRED.pistol"}}</option>  
          <option value="shotgun">{{localize "CPRED.shotgun"}}</option>
          <option value="submachinegun">{{localize "CPRED.submachinegun"}}</option>
          <option value="carbine">{{localize "CPRED.carbine"}}</option>
          <option value="assaultrifle">{{localize "CPRED.assaultrifle"}}</option>
          <option value="meleeweapon">{{localize "CPRED.meleeweapon"}}</option>
        {{/select}}
        </select>
        {{localize "CPRED.burst"}}<input type="checkbox" name="data.burst.value" value="{{data.burst.value}}" {{checked data.burst.value}}>
        {{localize "CPRED.fullauto"}}<input type="checkbox" name="data.fullauto.value" value="{{data.fullauto.value}}"{{checked data.fullauto.value}}>
        {{localize "CPRED.skill"}}
        <select name="data.skill.value">
        {{#select data.skill.value}}
        {{#if data.backend.jsk}}
          <option value="brawling">{{localize "CPRED.brawling"}}</option>
          <option value="marksmanship">{{localize "CPRED.marksmanship"}}</option>  
          <option value="meleeweapon">{{localize "CPRED.meleeweapon"}}</option>
        {{/if}}
        {{#if data.backend.core}}
          <option value="brawling">{{localize "CPRED.brawling"}}</option>
          <option value="meleeweapon">{{localize "CPRED.meleeweapon"}}</option>
          <option value="archery">{{localize "CPRED.archery"}}</option>
          <option value="handgun">{{localize "CPRED.handgun"}}</option>
          <option value="shoulderarms">{{localize "CPRED.shoulderarms"}}</option>
          <option value="heavyweapons">{{localize "CPRED.heavyweapons"}}</option>
        {{/if}}
        {{/select}}
        </select>
        {{/if_eq}}

        {{!-- Gear Section --}}
        
        {{#if_eq data.temp.type "gear"}}
        {{/if_eq}}
      </div>
    </div>
    
    
    {{!-- Mods Tab --}}

    <div class="tab mods" data-group="primary" data-tab="mods">
      {{localize "CPRED.underconstruction"}}<br>
      <div class="grid grid-4col">
        <label>Category</label>
        <label>Item</label>
        <label>Value</label>
        <label>Active?</label>
      </div>
        {{#each data.modlist as |eachitem eachkey|}}
      <div class="grid grid-4col">
        <div>
        <select name="data.modlist.{{eachkey}}.modcat">
          {{#select eachitem.modcat}}
            <option value="none">{{localize "CPRED.hidden"}}</option>
            <option value="attributes">{{localize "CPRED.attribute"}}</option>
            <option value="skills">{{localize "CPRED.skill"}}</option>
          {{/select}}
          </select>
        </div>
        <div>
          <select name="data.modlist.{{eachkey}}.moditem">
          {{#select eachitem.moditem}}
            {{#each (lookup ../data.temp eachitem.modcat) as |innerItem innerKey|}}
               <option value="{{innerKey}}">{{innerKey}}</option>
            {{/each}}
          {{/select}}
          </select>
        </div>
        <div><input type="text" name="data.modlist.{{eachkey}}.modvalue" value="{{eachitem.modvalue}}"/></div>
        <div><input type="text" name="data.modlist.{{eachkey}}.modactive" value="{{eachitem.modactive}}" readonly/></div>
      </div>
        {{/each}}
    </div>
    
    
  </section>
</form>
