.cyberpunkred {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.cyberpunkred .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.cyberpunkred .sheet-header {
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.cyberpunkred .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.cyberpunkred .sheet-header .header-fields {
  flex: 1;
  height: 100px;
  width: 100%;
}
.cyberpunkred .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.cyberpunkred .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.cyberpunkred .resource {
  width: 50%;
  height: 35px;
  margin-top: 3px;
  float: left;
  text-align: center;
}
.cyberpunkred .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.cyberpunkred .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.cyberpunkred .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.cyberpunkred .sheet-body {
  overflow: hidden;
}
.cyberpunkred .sheet-body .tab {
  height: 100%;
  overflow: hidden;
}
.cyberpunkred .editor, .cyberpunkred .editor-content {
  height: 100%;
}
.cyberpunkred .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.cyberpunkred .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.cyberpunkred .items-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.cyberpunkred .items-list .item-name {
  margin: 0;
}
.cyberpunkred .items-list .item-controls {
  flex: 0 0 36px;
}
/* Resources Styles */
.cyberpunkred .resources-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  color: black;
  grid-template-columns: repeat(2, 1fr); /* There are 2 resources now */
  width: 100%;
}
.cyberpunkred .resources-list ol {
  grid-column-start: 1;
  rid-column-end: 2;
  text-align: center;
}
.cyberpunkred .resources-box {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: black;
}
.cyberpunkred .resources-box label {
  text-align: center;
  width: 100%;
}
.cyberpunkred .resources-list li > * {
  margin: 0 3px;
  height: 35px;
  line-height: 24px;
  background: transparent;
  border-radius: 0;
  align: center;
  text-align: center;
}
.cyberpunkred .resources-list input {
  width: 30px;
  text-align: center;
	border: none;
}
.cyberpunkred .resources-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
/* Attributes Styles */
.cyberpunkred .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  color: black;
  text-align: center;
  grid-template-columns: repeat(11, 1fr); /* There are 11 attributes now */
}
.cyberpunkred .attributtes-list ol {
  grid-column-start: 1;
  rid-column-end: 11;
  text-align: center;
}
.cyberpunkred .attribute-box {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: black;
  text-align: center;
}
.cyberpunkred .attribute-box label {
  text-align: center;
  width: 100%;
}
.cyberpunkred .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border-radius: 0;
  width: 100%;
  text-align: center;
}
.cyberpunkred .attributes-list input {
  width: 30px;
  text-align: center;
  align: center;
	border: none;
}
.cyberpunkred .attribute-label {
  font-weight: 600;
  display: block;
  margin-bottom: 0px;
  width: 100%;
}
.cyberpunkred .attributes-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
/* Skills Styles */
.cyberpunkred .skills-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}
.cyberpunkred .skill-label {
  font-weight: 600;
  display: inline;
  width: 40%;
}
.cyberpunkred .skill-label-attrib {
  font-weight: 600;
  display: inline;
  width: 35px;
	color: #9D7D7D;
}
.cyberpunkred .skill-value {
  display: inline;
  width: 28px;
  text-align: center;
}
.cyberpunkred .skill-box {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: black;
  text-align: left;
  height: 28px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.cyberpunkred .skills-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* There are two columns of skills */
  grid-gap: 1px;
  border: none;;
  overflow: hidden;
}
.cyberpunkred .skills-list ol {
  grid-column-start: 1;
  grid-column-end: 2;
  border: none;;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.cyberpunkred .skills-list li > * {
  margin: 0px;
  padding: 0px;
  height: 28px;
  line-height: 28px;
  background: transparent;
  border: none;
  border-radius: 0;
  overflow: hidden;
}
/* Other */
.cyberpunkred.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.cyberpunkred.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
/* Rolls */
.dice-roll .dice-formula {
	background: #AAAAFF;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}
.dice-roll .dice-total {
	background: #FFAAAA;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
}
.dice-roll .dice-tooltip {
	background: #FFFFAA;
	padding-left: 10px;
	padding-right: 10px;

}